<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<table border="3">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>LastName</th>
        <th>Country</th>
        <th>Update</th>
    </tr>
    <tr th:each="u : ${users}">
        <td th:utext="${u.getId()}">...</td>
        <td th:utext="${u.getName()}">...</td>
        <td th:utext="${u.getLastname()}">...</td>
        <td th:utext="${u.getCountry()}">...</td>
        <td><a th:href="@{/{id}/edit(id=${u.getId()})}" th:utext="Update"></a></td>
        <td><form th:method="DELETE" th:action="@{/{id}(id=${u.getId()})}">
            <input type="submit" value="Delete"/>
        </form></td>
    </tr>
</table>

<h3><a th:href="@{/new}">Create User</a></h3>

</body>
</html>